@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=El+Messiri:wght@400..700&family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
body {
    margin: 0 70px ;
    background-color: #ffffff;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
#main {
    padding: 10px;

}
#header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2px ;
}

#logo-header img {
    width: 100px;
    border-radius: 50%
}

#header-mneu ul{
    display: flex;
    gap: 80px;
    list-style: none;
    font-size: 10px;
}

#header-mneu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: inherit;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 2px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;

}

#header-mneu a:active,
#header-mneu a:hover {
    outline: 0;
}
#header-mneu a span {
    background-color: rgb(5, 6, 45);
    padding: 6px 12px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    font-size: 13px;
    text-align: center;

}
#header-mneu a:hover span {
    background: none;
}
#main {
    position: relative;
    z-index: 1;
    padding: 20px;
}
@media (min-width: 768px) {
    #header-mneu a {
        font-size: 24px;
        min-width: 140px;
    }
}

#content {
    display: flex;
    padding: 100px 0 ;
    gap: 30px;
}
#right-content {
    height: 550px;
    width: 1000px;
    border-radius: 40px;
    overflow: hidden;
}
#right-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}
#right-content img:hover {
    transform: scale(1.1);
}
#left-content h1 {
    font-size: 60px;
}

#left-content p {
    font-size: 30px;
}
.logo-text {
    color: #2596be;
}

#pag2 {
    width: 1255px;
    height: 500px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    gap: 40px;
    padding: 40px;
    align-items: center;
    background-color: #2596be;

}

#cards {

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 8px;
    background-color: #fff9f9;

}
#clothesImges {
    width: 238px;
    height: 300px;
    display: flex;
    align-items: center;
    

}
#clothesImges img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

#stor-logo img {
    width: 70px;
    border-radius: 50%;
}

#stor-logo {
    display: flex;
    gap: 30px;
}

#pag2 a {
    text-decoration: none;
    font-size: 80px;
    color: black;
}