@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=El+Messiri:wght@400..700&family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
body {
    margin: 0 70px ;
    background-color: #ffffff;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
#main {
    padding: 10px;

}
#header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2px ;
}

#logo-header img {
    width: 100px;
    border-radius: 50%
}

#header-mneu ul{
    display: flex;
    gap: 80px;
    list-style: none;
    font-size: 10px;
}

#header-mneu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: inherit;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 2px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;

}

#header-mneu a:active,
#header-mneu a:hover {
    outline: 0;
}
#header-mneu a span {
    background-color: rgb(5, 6, 45);
    padding: 6px 12px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    font-size: 13px;
    text-align: center;

}
#header-mneu a:hover span {
    background: none;
}
#main {
    position: relative;
    z-index: 1;
    padding: 20px;
}
@media (min-width: 768px) {
    #header-mneu a {
        font-size: 24px;
        min-width: 140px;
    }
}

#content {
    display: flex;
    padding: 100px 0 ;
    gap: 30px;
}

#right-content img {
    height: 500px;
    width: 700px;
    border-radius: 40px;
}

#left-content h1 {
    font-size: 60px;
}

#left-content p {
    font-size: 30px;
}
.logo-text {
    color: #2596be;
}

#pag2 {
    width: 100%;
    height: 500px;
    border: 2.2px solid ;
    border-radius: 40px;
}

