body {
    margin: 0 70px ;
    background-color: #00050e;
}
#main {
    padding: 10px;
    
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 1px ;
}

#logo-header img {
    width: 90px;
}

#header-mneu ul{
    display: flex;
    gap: 100px;
    list-style: none;
    font-size: 10px;
}

#header-mneu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 2px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;

}

#header-mneu a:active,
#header-mneu a:hover {
    outline: 0;
}
#header-mneu a span {
    background-color: rgb(5, 6, 45);
    padding: 8px 16px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    font-size: 15px;
    text-align: center;

}
#header-mneu a:hover span {
    background: none;
}
#main {
    position: relative;
    z-index: 1;
    padding: 20px;
}
@media (min-width: 768px) {
    #header-mneu a {
        font-size: 24px;
        min-width: 196px;
    }
}